.vs/Occupi/xs/project-cache/Occupi-Debug.json
.vs/Occupi/xs/project-cache/PAT.Portable-Debug.json
.vs/Occupi/xs/project-cache/PAT.Portable.Test-Debug.json
.vs/Occupi/xs/UserPrefs.xml
.vs/Occupi/xs/project-cache/Occupi-Debug.json
Occupi/bin/Debug/netstandard2.0/Occupi.dll
Occupi/bin/Debug/netstandard2.0/Occupi.pdb
Occupi/bin/Debug/netstandard2.0/ref/Occupi.dll
Occupi/obj/Debug/netstandard2.0/Occupi.csprojAssemblyReference.cache
Occupi/obj/Debug/netstandard2.0/Occupi.dll
Occupi/obj/Debug/netstandard2.0/Occupi.pdb
Occupi/obj/Debug/netstandard2.0/Views/BookingPage.xaml.g.cs
Occupi/obj/Debug/netstandard2.0/Views/EventsPage.xaml.g.cs
Occupi/obj/Debug/netstandard2.0/Views/OccupiBasePage.xaml.g.cs
Occupi/obj/Debug/netstandard2.0/Views/VenuesPage.xaml.g.cs
Occupi/obj/Debug/netstandard2.0/ref/Occupi.dll
Occupi.iOS/bin/iPhoneSimulator/Debug/Occupi.dll
Occupi.iOS/bin/iPhoneSimulator/Debug/Occupi.iOS.exe
Occupi.iOS/bin/iPhoneSimulator/Debug/Occupi.pdb
Occupi.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone 11-13.4/Occupi.iOS.app/Occupi.dll
Occupi.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone 11-13.4/Occupi.iOS.app/Occupi.pdb
Occupi.iOS/obj/Occupi.iOS.csproj.nuget.dgspec.json
Occupi.iOS/obj/project.assets.json
Occupi.iOS/obj/project.nuget.cache
Occupi.iOS/obj/iPhoneSimulator/Debug/Occupi.iOS.csprojAssemblyReference.cache
Occupi.iOS/obj/iPhoneSimulator/Debug/Occupi.iOS.exe
Occupi.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone 11-13.4/mtouch-cache/1-Link/Occupi.dll
Occupi.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone 11-13.4/mtouch-cache/1-Link/Occupi.pdb
Occupi.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone 11-13.4/mtouch-cache/2-PreBuild/Occupi.dll
Occupi.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone 11-13.4/mtouch-cache/2-PreBuild/Occupi.pdb
Occupi.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone 11-13.4/mtouch-cache/3-Build/Occupi.dll
Occupi.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone 11-13.4/mtouch-cache/3-Build/Occupi.pdb
Occupi.iOS/obj/iPhoneSimulator/Debug/device-builds/iphone 11-13.4/mtouch-cache/x86_64/main.m.stamp
PAT.Portable/bin/Debug/netstandard2.0/PAT.Portable.dll
PAT.Portable/bin/Debug/netstandard2.0/PAT.Portable.pdb
PAT.Portable/obj/Debug/netstandard2.0/PAT.Portable.csproj.CoreCompileInputs.cache
PAT.Portable/obj/Debug/netstandard2.0/PAT.Portable.csproj.FileListAbsolute.txt
PAT.Portable/obj/Debug/netstandard2.0/PAT.Portable.csprojAssemblyReference.cache
PAT.Portable/obj/Debug/netstandard2.0/PAT.Portable.dll
PAT.Portable/obj/Debug/netstandard2.0/PAT.Portable.pdb
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
PAT.Portable.Test/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/nunit.engine.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/nunit.framework.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
PAT.Portable.Test/bin/Debug/netcoreapp3.1/PAT.Portable.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/PAT.Portable.pdb
PAT.Portable.Test/bin/Debug/netcoreapp3.1/PAT.Portable.Test.deps.json
PAT.Portable.Test/bin/Debug/netcoreapp3.1/PAT.Portable.Test.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/PAT.Portable.Test.pdb
PAT.Portable.Test/bin/Debug/netcoreapp3.1/PAT.Portable.Test.runtimeconfig.dev.json
PAT.Portable.Test/bin/Debug/netcoreapp3.1/PAT.Portable.Test.runtimeconfig.json
PAT.Portable.Test/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/testhost.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Xamarin.Essentials.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Xamarin.Forms.Core.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Xamarin.Forms.Platform.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/Xamarin.Forms.Xaml.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PAT.Portable.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PAT.Portable.Test/obj/PAT.Portable.Test.csproj.nuget.dgspec.json
PAT.Portable.Test/obj/PAT.Portable.Test.csproj.nuget.g.props
PAT.Portable.Test/obj/PAT.Portable.Test.csproj.nuget.g.targets
PAT.Portable.Test/obj/project.assets.json
PAT.Portable.Test/obj/project.nuget.cache
PAT.Portable.Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.AssemblyInfo.cs
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.AssemblyInfoInputs.cache
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.assets.cache
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.csproj.CopyComplete
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.csproj.CoreCompileInputs.cache
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.csproj.FileListAbsolute.txt
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.csprojAssemblyReference.cache
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.dll
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.genruntimeconfig.cache
PAT.Portable.Test/obj/Debug/netcoreapp3.1/PAT.Portable.Test.pdb
PAT.Portable.Test/obj/Debug/netcoreapp3.1/XamlC.stamp
_config.yml
